@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.main {
  display: flex;
  gap: $xs;

  @include sm {
    max-width: 100%;
    overflow-x: scroll;
    padding: $lg 0;
  }
  @include md {
    max-width: 100%;
    overflow-x: scroll;
    padding: $lg 0;
  }
  @include base {
    max-width: 100%;
    overflow-x: scroll;
    padding: $lg 0;
  }

  &_pill,
  &_activePill {
    color: #31373d;
    font-weight: 500;
    border-radius: 100px;
    padding: $xs $base;
    border: 1px solid $pillBg;
    cursor: pointer;
    @include sm {
      min-width: max-content;
    }
    @include md {
      min-width: max-content;
    }
    @include base {
      min-width: max-content;
    }
  }
  &_activePill {
    background-color: #ffeee5;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    transition: 0.5s ease-in-out;
  }
}
