@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.main {
  margin-top: $base;
  width: 100%;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_greeting {
      display: flex;
      flex-direction: column;
      p {
        color: $dark;
        &:nth-child(1) {
          font-size: $xxlg;
          font-weight: 600;
        }
      }
    }

    &_analytic {
      color: $primaryColor;
    }
  }
  &_chart {
    margin-top: $xlg;
    border-radius: 12px;
    border: 1px solid $pillBg;
    padding: $base;
    width: 100%;
    &_head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 0 $base;
      color: $dark;
      font-size: $lg;
      font-weight: 600;
    }
    p {
      padding: 0 $base;
      color: $dark;
    }
    &_count {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
    }
  }

  &_donuts {
    display: flex;
    gap: $base;
  }
}
