@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.show_side {
  display: none;
  @include sm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 7vh;
    left: 0;
    width: 70%;
    height: 93vh;
    padding: 1rem 0;
    box-shadow: 0px 5px 20px $pillBg;
    background-color: #f8f4f2;
    color: black;
    overflow-y: auto;
    z-index: 10;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
  @include md {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 7vh;
    left: 0;
    width: 50%;
    height: 93vh;
    padding: 1rem 0;
    box-shadow: 0px 5px 20px $pillBg;
    background-color: #f8f4f2;
    color: black;
    overflow-y: auto;
    z-index: 10;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
}
.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  height: 100%;
  align-items: flex-start;
  border-right: 1px solid $pillBg;

  @include sm {
    display: none;
  }
  @include md {
    display: none;
  }

  &_logo {
    margin-left: 3.5rem;
    margin-bottom: $base;
    cursor: pointer;
  }

  &_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;

    &_user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3.5rem;
      gap: $base;

      &_img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}

.sub_item {
  display: flex;
  flex-direction: column;
  &_link {
    text-transform: uppercase;
    margin: $base 0;
    margin-left: 3.5rem;
    cursor: pointer;

    &_label {
      font-size: $xs;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;

  &_active,
  &_link {
    display: flex;
    gap: $lg;
    text-decoration: none;
    font-size: $base;
    color: $fontColor;
    font-weight: 500;
  }
  &_active {
    color: $primaryColor;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      height: 60%;
      width: 3px;
      background-color: $primaryColor;
      border-radius: 3px;
    }
  }

  &_inner {
    display: flex;
    gap: $base;
    align-items: center;
    padding: 1.5rem 3.5rem;
  }
}
