@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.nav {
  min-width: 100%;
  max-width: 100%;
  height: 8vh;
  padding: $base 1.5rem;
  text-transform: capitalize;
  color: $dark;
  font-weight: 600;
  font-size: $lg;
  position: fixed;
  background-color: #ffffff;
}
