@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.nav {
  max-width: 100%;
  padding: $base auto;
  text-transform: capitalize;
  color: $dark;
  font-weight: 600;
  font-size: $lg;
}
