@import "scss/_media-query-mixins.scss";
@import "scss/_sass-variables.scss";

.legend {
  display: flex;
  align-items: center;
  gap: $base;

  span {
    width: 12px;
    height: 12px;
    background-color: $blue;
    border-radius: 50%;
  }
}
