$appBgColor: #ffffff;
$primaryColor: #ff5403;
$fontColor: #56616b;
$gray: #31373d;
$dark: #131316;
$pillBg: #eff1f6;
$blue: #599eea;
$purple: #844ff6;
$green: #0fb77a;
$lightOrange: #fab70a;
$darkOrange: #f09468;
$white: #ffffff;
$xs: 0.75rem;
$md: 0.875rem;
$base: 1rem;
$lg: 1.125rem;
$xlg: 1.25rem;
$xxlg: 1.5rem;
$xxxlg: 3rem;
